/* Stilizacija za <p> element */
p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stilizacija za dugme */
.container button.primary {
  background-color: #073d77;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Promena stila dugmeta na hover */
.container button.primary:hover {
  background-color: #290680;
}
