<app-search-bar
  (pretragaRezultati)="handlePretragaRezultati($event)"
></app-search-bar>
<div class="container">
  <h3>turniri</h3>
  <ul>
    <li *ngFor="let turnir of sviTurniri$ | async">
      <app-turnir [turnir]="turnir"></app-turnir>
      <button (click)="prijaviSeNaTurnir(turnir)">Prijavi tim</button>
      <button (click)="obrisiTurnir(turnir.id)">Obrisi turnir</button>
      <button (click)="prikaziPrijavljeneTimove(turnir.id)">
        Prijavljeni timovi
      </button>
    </li>
  </ul>
  <ul *ngIf="!pretragaIzvrsena">
    <li>Ovde ce se prikazati turniri nakon pretrage</li>
  </ul>
  <ul *ngIf="pretragaIzvrsena">
    <li *ngIf="!postojeFiltriraniTurniri">
      Nema dostupnih turnira sa unetim parametrima
    </li>
  </ul>
  <ul *ngIf="filtriraniTurniri && filtriraniTurniri.length > 0">
    <li *ngFor="let turnir of filtriraniTurniri">
      <app-turnir [turnir]="turnir"></app-turnir>
      <button (click)="prijaviSeNaTurnir(turnir)">Prijavi se</button>
      <button (click)="obrisiTurnir(turnir.id)">Obrisi turnir</button>
      <button (click)="prikaziPrijavljeneTimove(turnir.id)">
        Prijavljeni timovi
      </button>
    </li>
  </ul>
</div>
