<!-- <p>sada cu prikazati sve turnire</p>
<ul>
  <li *ngFor="let turnir of sviTurniri$ | async">
    <div class="container">
      <div class="naziv">{{ turnir.naziv }}</div>
      <div class="datumOdrzavanja">{{ turnir.datumOdrzavanja }}</div>
      <div class="brojUcesnika">{{ turnir.brojUcesnika }}</div>
      <button class="primary" type="button" (click)="dodajTurnirUKorpu(turnir)">
        Dodaj turnir u prijavu
      </button>
    </div>
  </li>
</ul> -->
<!-- home.component.html -->

<div class="container">
  <h1>Svi Turniri</h1>
  <ul>
    <li *ngFor="let turnir of sviTurniri$ | async">
      <app-turnir [turnir]="turnir"></app-turnir>
    </li>
  </ul>
</div>
