<!-- <div class="container">
  <button (click)="navigirajNaProfil()" routerLink="profil">Profil</button>
</div> -->

<!-- [pretragaNaziv]="pretragaNaziv"
[pretragaMesto]="pretragaMesto"
[pretragaPocetniDatum]="pretragaPocetniDatum"
[pretragaKrajnjiDatum]="pretragaKrajnjiDatum" -->
<app-search-bar></app-search-bar>
<div class="container">
  <h3>Svi Turniri</h3>
  <ul>
    <li *ngFor="let turnir of sviTurniri$ | async">
      <app-turnir [turnir]="turnir"></app-turnir>
      <button (click)="prikaziPrijavljeneIgrace(turnir)">
        Prijavljeni ucesnici
      </button>
      <button (click)="prijaviSeNaTurnir(turnir)">Prijavi se</button>
    </li>
  </ul>
</div>
