/* Centriraj snackbar vertikalno */
::ng-deep .mat-snack-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: auto; /* Poništite stil za dno ako je postavljen */
}
