<div class="login">
  <h2>Prijava</h2>
  <form>
    <label for="korisnickoIme">Korisničko ime:</label>
    <input
      type="text"
      id="korisnickoIme"
      [(ngModel)]="korisnickoIme"
      name="korisnickoIme"
      required
    />

    <label for="lozinka">Lozinka:</label>
    <input
      type="password"
      id="lozinka"
      [(ngModel)]="lozinka"
      name="lozinka"
      required
    />
    <label for="role">Prijavi se kao</label>
    <input
      type="radio"
      id="igrac"
      [(ngModel)]="isIgrac"
      name="role"
      value="igrac"
    />
    <label for="igrac">Igrac</label>

    <input
      type="radio"
      id="organizator"
      [(ngModel)]="isOrganizator"
      name="role"
      value="organizator"
    />
    <label for="organizator">Organizator</label>

    <button (click)="prijaviSe()">Prijavi se</button>
  </form>
</div>
