<div class="turnir">
  <h2>{{ turnir.naziv }}</h2>
  <p>Datum održavanja: {{ turnir.datumOdrzavanja }}</p>
  <p>Mesto održavanja: {{ turnir.mestoOdrzavanja }}</p>
  <p>Nagrada: {{ turnir.nagrada }}$</p>
  <p>Maksimalni broj ucesnika: {{ turnir.maxBrojTimova }}</p>
  <p>trenutni broj timova: {{ turnir.trenutniBrojTimova }}</p>
  <div container>
    <ul>
      <ng-container *ngIf="trenutnoPrijavljeniKorisnik$ | async as korisnik">
        <button (click)="prikaziPrijavljeneTimove(turnir.id)">
          Prijavljeni timovi
        </button>
        <ng-container *ngIf="korisnik.role === 'igrac'">
          <ng-container *ngIf="jeVodjaTima(korisnik)">
            <!-- //todo ako je vec prijavljen da mu se prikaze ovde obrisi prijavu a ne prijavi se  -->
            <button (click)="prijaviSeNaTurnir(turnir, korisnik)">
              Prijavi se
            </button>
            <button (click)="odjaviSvojTimSaTurnira(turnir.id, korisnik.id)">
              Izbrisi prijavu
            </button>
          </ng-container>
          <ng-container>
            <button (click)="vidiSaigrace(turnir.id, korisnik.id)">
              Vidi saigrace
            </button>
          </ng-container>
        </ng-container>
        <!-- <ng-container *ngIf="korisnik.role === 'organizator'">
          <button (click)="obrisiTurnir(turnir.id)">Obrisi turnir</button>
        </ng-container> -->
        <!-- <ng-container *ngIf="korisnik as igrac">
          <ng-container *ngIf="jeVodjaTima(igrac)"> -->
      </ng-container>
      <!-- </ng-container>
      </ng-container> -->
    </ul>
  </div>
</div>
