/* Stilizacija turnir div-a */
.turnir {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.turnir h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.turnir p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

/* Stilizacija dugmadi */
.turnir button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.turnir button:hover {
  background-color: #0056b3;
}

/* Stilizacija kontejnera za dugmad */
.turnir [container] {
  display: flex;
  justify-content: flex-end; /* Stavlja dugmad u desni ugao */
  align-items: center;
  margin-top: 10px;
}

/* Stilizacija lista */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Stilizacija labele */
.turnir label {
  font-weight: bold;
  color: #555; /* Boja teksta za labelu */
  margin-right: 5px; /* Razmak sa desne strane labele */
}
