<div *ngIf="trenutnoPrijavljeniKorisnik$ | async as prijavljeniKorisnik">
  <h1>Dobrodošli, {{ prijavljeniKorisnik.korisnickoIme }}</h1>
  <div *ngIf="prijavljeniKorisnik.role === 'igrac'">
    <p>Ovo je profil igrača.</p>
  </div>
  <div *ngIf="prijavljeniKorisnik.role === 'organizator'">
    <p>Ovo je profil organizatora.</p>
  </div>
  <p>Korisnicko ime:{{ prijavljeniKorisnik.korisnickoIme }}</p>
</div>
<div *ngIf="!(trenutnoPrijavljeniKorisnik$ | async)">
  <!-- Content to display when no user is logged in -->
  <p>Morate biti prijavljeni da biste videli profil.</p>
</div>
