<p class="welcome-text">Dobrodošli na sajt za pronalazak turnira</p>

<div class="button-container">
  <div *ngIf="trenutnoPrijavljeniKorisnik$ | async as prijavljeniKorisnik">
    <button
      *ngIf="prijavljeniKorisnik.role === 'organizator'"
      (click)="navigirajNaKreiranjeTurnira()"
      routerLink="/kreiranjeTurnira"
      class="nav-button"
    >
      Kreiraj turnir
    </button>
  </div>
  <!-- <button (click)="navigirajNaKorpu()" routerLink="/korpa" class="nav-button">
    Korpa
  </button> -->
  <button (click)="navigirajNaProfil()" routerLink="profil" class="nav-button">
    Profil
  </button>
  <button (click)="navigirajNaPocetnu()" routerLink="" class="nav-button">
    Početna
  </button>
  <button
    (click)="navigirajNaPrijavu()"
    routerLink="prijava"
    class="nav-button"
  >
    Pregledaj prijavu
  </button>
  <button (click)="navigirajNaLogin()" routerLink="login" class="nav-button">
    Login
  </button>
  <button (click)="OdjaviSe()" routerLink="" class="nav-button">
    Odjavi se
  </button>
  <button
    (click)="navigirajNaRegistraciju()"
    routerLink="Registracija"
    class="nav-button"
  >
    Registracija
  </button>
</div>
