<nav class="navbar">
  <ul>
    <li *ngIf="trenutnoPrijavljeniKorisnik$ | async as prijavljeniKorisnik">
      <ng-container *ngIf="prijavljeniKorisnik.role === 'organizator'">
        <a
          (click)="navigirajNaKreiranjeTurnira()"
          routerLink="/kreiranjeTurnira"
          >Kreiraj turnir</a
        >
      </ng-container>
    </li>
    <li *ngIf="trenutnoPrijavljeniKorisnik$ | async as prijavljeniKorisnik">
      <a (click)="navigirajNaProfil()" routerLink="profil">Profil</a>
    </li>
    <li>
      <a (click)="navigirajNaPocetnu()" routerLink="">Početna</a>
    </li>
    <li>
      <a (click)="navigirajNaPrijavu()" routerLink="prijava"
        >Pregledaj prijavu</a
      >
    </li>
    <li *ngIf="!(trenutnoPrijavljeniKorisnik$ | async)">
      <a (click)="navigirajNaLogin()" routerLink="login">Login</a>
    </li>

    <li *ngIf="!(trenutnoPrijavljeniKorisnik$ | async)">
      <a (click)="navigirajNaRegistraciju()" routerLink="Registracija"
        >Registracija</a
      >
    </li>
  </ul>
  <ng-container *ngIf="trenutnoPrijavljeniKorisnik$ | async">
    <a (click)="OdjaviSe()" routerLink="" class="logout">Odjavi se</a>
  </ng-container>
</nav>
