<h1>Turnir</h1>
<div *ngIf="prijavljeniTurnir$ | async as turnir">
  <app-turnir [turnir]="turnir"></app-turnir>

  <!-- Dodajte prikaz igracaUTimu$ ispod ovog div-a -->
  <h1>Igrači u timu</h1>
  <ul>
    <li *ngFor="let igrac of igraciUTimu$ | async">
      <app-igrac [igrac]="igrac"></app-igrac>
    </li>
  </ul>
</div>
<h1>Prijave</h1>
<div *ngIf="preference$ | async as preference">
  <h1>Preferences</h1>
  <p>Potreban broj slušalica: {{ preference.potrebanBrojSlusalica }}</p>
  <p>Potreban broj racunara: {{ preference.potrebanBrojRacunara }}</p>
  <p>Potreban broj tastatura: {{ preference.potrebanBrojTastatura }}</p>
  <p>Potreban broj miseva: {{ preference.potrebanBrojMiseva }}</p>
</div>
