<h1>Turnir</h1>
<div *ngIf="prijavljeniTurnir$ | async as turnir">
  <app-turnir [turnir]="turnir"></app-turnir>

  <!-- Dodajte prikaz igracaUTimu$ ispod ovog div-a -->
  <h1>Igrači u timu</h1>
  <ul>
    <li *ngFor="let igrac of igraciUTimu$ | async">
      <app-igrac [igrac]="igrac"></app-igrac>
    </li>
  </ul>
</div>
<h1>Prijave</h1>
<div
  *ngIf="
    preferencePotrebanBrojSlusalica$ | async as preferencePotrebanBrojSlusalica
  "
>
  <h1>Preferences</h1>
  <p>Potreban broj slušalica: {{ preferencePotrebanBrojSlusalica }}</p>
</div>
<button (click)="izaberiPreference()" routerLink="preference">
  Izaberi preference tima
</button>
